name: Git Notify

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Deploy Stage
        uses: fjogeleit/http-request-action@v1
        with:
          url: 'https://www.feishu.cn/flow/api/trigger-webhook/0d902a196b01c011051a2dc7960b2477'
          method: 'POST'
          customHeaders: '{"Content-Type": "application/json"}'
          data: '{"repo_name": ${{ env.GITHUB_REPOSITORY }}, "source": "https://github.com/${{ env.GITHUB_REPOSITORY }}"}'
